:root {
  --background-color: #f8f8f8;
  --primary-color: #333333;
  --accent-color: #26ae61;
  --button-color: #5c5c5c;
  --black-color: #000000;
  --white-color: #ffffff;
  --blue-color: #186fc9;
  --orange-color: #f1630d;
  --yellow-color: #dfb634;
  --placeholder-color: #999999;
  --tab-disable-color: #777777;
  --header-title-color: #5c5c5c;
  --divider-color: #dddddd;
}

body {
  font-family: 'Roboto';
}

button {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.container {
  padding: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.company-logo {
  width: 3rem;
  height: 3rem;
}

.tag {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-end;
}

.timeago {
  font-size: 0.6rem;
  color: var(--placeholder-color);
}

.company-detail {
  display: flex;
  gap: 1rem;
  margin-top: 0.8rem;
}

.company-detail button {
  display: flex;
  gap: 0.2rem;
  text-align: left;
  font-size: 0.6rem;
  color: var(--placeholder-color);
}

.company-detail button span {
  color: var(--accent-color);
}

.post-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
  margin-top: 0.6rem;
}

.post-tag {
  padding: 0.2rem 0.4rem;
  border: 0.06rem solid rgba(0, 0, 0, 0.2);
  border-radius: 0.2rem;
  font-size: 0.6rem;
  white-space: nowrap;
  color: var(--accent-color);
}

/* tags */
.full-time,
.part-time,
.intern {
  display: block;
  width: 5rem;
  max-height: 2rem;
  font-size: 0.7rem;
  text-align: center;
  white-space: nowrap;
  border-radius: 0.2rem;
  padding: 0.2rem 0.4rem;
}

.full-time {
  color: var(--blue-color);
  background-color: #f1f7fc;
  border: 0.06rem solid var(--blue-color);
}

.part-time {
  color: var(--orange-color);
  background-color: #fef6f0;
  border: 0.06rem solid var(--orange-color);
}

.intern {
  color: var(--yellow-color);
  background-color: #fdfcf2;
  border: 0.06rem solid var(--yellow-color);
}

.loading {
  display: flex;
  height: 100%;
  align-items: center;
}

@media (max-width: 640px) {
  .full-time,
  .part-time,
  .intern {
    width: 4rem;
    max-height: 1.5rem;
    font-size: 0.5rem;
  }
}
