post-list {
  display: block;
}

.iOS post-list {
  padding-top: 130px;
}

post-list > h4 {
  padding: 0.5rem 0.5rem;
  font-size: 0.75rem;
  color: var(--primary-color);
}

post-list-item {
  padding: 1rem 0.5rem;
  display: grid;
  grid-template-columns: [logo] 3rem [main] 2fr [badge] 5rem;
}

post-list-item + post-list-item {
  border-top: 0.01rem solid var(--divider-color);
}

.company-logo {
  grid-column: logo;
  margin-top: 0.3rem;
  border-radius: 0.2rem;
  object-fit: contain;
}

.main {
  grid-column: main;
  padding: 0 0.5rem;
}

.title {
  font-size: 0.9rem;
  color: var(--primary-color);
}

.tag {
  grid-column: badge;
}

.empty-posts {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--placeholder-color);
  background: var(--white-color);
}

.empty-posts img {
  width: 5rem;
  height: 5rem;
}

@media (max-width: 640px) {
  post-list-item {
    grid-template-columns: [logo] 2rem [main] 2fr [badge] 4rem;
  }

  .company-logo {
    width: 2rem;
    height: 2rem;
  }

  .title {
    font-size: 0.6rem;
  }

  .company-detail button {
    font-size: 0.4rem;
  }

  .post-tag {
    padding: 0.1rem 0.2rem;
    border: 0.04rem solid rgba(0, 0, 0, 0.2);
    border-radius: 0.1rem;
    font-size: 0.3rem;
  }

  .timeago {
    font-size: 0.4rem;
  }
}
